jupyter-book>=1.0
myst-parser
myst-nb
sphinx-book-theme

# your runtime deps for rendering notebooks (imports)
pooch
numpy
scipy
xarray
netCDF4
matplotlib
cartopy
cmocean

# install LAMTA itself
git+https://github.com/OceanCruises/LAMTA.git
